/*OVERALL SECTION
=====================================================================*/

@font-face {
	font-family: 'player2';
	src: url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}

* {
	font-family: 'Press Start 2P', cursive;
}

.background {
	background-attachment: fixed, fixed;
	background-image: url('../images/background/Background_Main.png'), url('../images/background/Background_Fill.png');
	background-position: center top;
	background-repeat: repeat-x, repeat;
	padding-bottom: 60px;
	padding-top: 60px;
	width: 100%;
}


/*BLACK BANNER SECTION
=====================================================================*/

.banner {
	background-image: url('../images/background/Banner_StretchWide.png');
	position: fixed;
	z-index: 100;
	height: 48px;
	width: 100%;
}

#footer {
	bottom: 0px;
	left: 0px;
	color: #68663F;
	font-size: 12px;
}

.leftAlignBar {
	float: left;
	padding: 16px 0px 0px 15%;
}

.rightAlignBar {
	float: right;
	padding: 16px 15% 0px 0px;
}

a.banneremail, a.banneremail:visited {
	color: #68663F;
	text-decoration: none;
}

a.banneremail:hover, a.banneremail:active {
	color: #E2DFB6;
	text-decoration: none;
}


/*CONTENT ROWS
=====================================================================*/

.firstrow {
	margin: 0 auto;
	width: 93%;
}

#playerprofile {
	margin: 0 auto;
	padding-top: 8px;
}

#navbar {
	margin: 0 auto;
}


a.textLink, a.textLink:visited {
	background-color: #38360f;
	color: #e2dfb6;
	padding: 5px;
	text-decoration: none;
}

a.textLink:hover, a.textLink:active {
	background-color: #adab84;
	color: #68663f;
	padding: 5px;
	text-decoration: none;	
}


/*NAV BUTTONS
=====================================================================*/

/* Target all childern of #navbar whose id ends with "Btn" */
#navbar [id$="Btn"] {
	background-image: url('../images/buttons/Buttons_Sprite.png');
	height: 60px;
	width: 256px;	
}

#homeBtn {
	background-position: 0 0;
	height: 64px;
}

#homeBtn:hover {
	background-position: -256px 0;
}

#aboutMeBtn {
	background-position: 0 -64px;
}

#aboutMeBtn:hover {
	background-position: -256px -64px;
}

#portfolioBtn {
	background-position: 0 -124px;
}

#portfolioBtn:hover {
	background-position: -256px -124px;
}

#blogBtn {
	background-position: 0 -184px;
	margin-top: 4px;
	height: 56px;
}

#blogBtn:hover {
	background-position: -256px -184px;
}

#contactBtn {
	background-position: 0 -240px;
}

#contactBtn:hover {
	background-position: -256px -240px;
}


/*MAIN BORDERS
=====================================================================*/

.border {
    border: 3px solid transparent;
    border-image-source: url('../images/frame/Frame_Box.png');
    border-image-slice: 60;
    border-image-width: 20;
    border-image-outset: 1;
    margin: 0 auto;
    margin-top: 15px;
    height: 600px;
    width: 79%;
}

.bodytext {
	background-color: #E2DFB6;
	color: #000;
	font-size: 15px;
	line-height: 200%;
	margin: 40px auto 20px;  /* top right&left bottom */
	overflow: scroll;
	padding: 20px 10px 20px 10px;
    height: 500px;
    width: 90%;
}


/*BORDER TITLES
=====================================================================*/

.borderHeaderBox {
	float: left;
	margin-left: 100px;
	margin-top: -7px;
	width: 50%;
}

.borderheader {
	float: left;
	position: relative;
	display: inline;
	height: 56px;
}

.bordercenter {
	float: left;
	background-image: url('../images/frame/Frame_Title_Center.png');
	height: 56px;
	display: inline;
	padding-top: 13px;
	font-size: 24px;
	color: #E2DFB6;
}


/*EACH BORDER TEXT BLOCK SPECIFICS
<without TEXT is the border height, with TEXT is the height of the textbox>
=====================================================================*/

/*#welcome {
	margin-top: 15px;
	height: 600px;
}

#welcomeText {
	height: 500px;
}

#aboutMe {
	margin-top: 15px;
	height: 600px;
}

#aboutMeText {
	height: 500px;
}

#portfolio {
	margin-top: 15px;
	height: 600px;
}

#portfolioText {
	height: 500px;
}

#contact {
	margin-top: 15px;
	height: 600px;

}

#contactText {
	height: 500px;
}*/


/*OTHER
=====================================================================*/


/*.caption {
	visibility: hidden;
	background: #68663F;
	color: #fff;
	opacity: 0.9;
	position:absolute;
	width: 350px;
	height: 221.5189873418px;
	font-size: 12px;
}*/

.contactIcon {
	width: 40px;
}


/*MOBILE DEVICES  1293
=====================================================================*/

@media screen and (max-width: 991px) {
	#playerprofile {
		max-width: 500px;
	}

	#navbar [id$="Btn"] {
    	margin: 0 auto; 
	}

}

@media screen and (max-width: 768px) {


}

@media screen and (max-width: 640px) {
	/*Need to make sure I fix the headers*/



}