/*OVERALL SECTION
=====================================================================*/

@font-face {
	font-family: 'player2';
	src: url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}

* {
	font-family: 'player2';
}

.background {
	background-image: url('../images/background/Background_Main.png'), url('../images/background/Background_Fill.png');
	background-repeat: repeat-x, repeat;
	background-attachment: fixed, fixed;
	padding-top: 60px;
	padding-bottom: 60px;
	min-width: 960px;
	min-height: 1500px;
}


/*BLACK BANNER SECTION
=====================================================================*/

.banner {
	width: 100%;
	height: 48px;
	background-image: url('../images/background/Banner_StretchWide.png');
	position: fixed;
	z-index: 100;
}

#footer {
	left: 0px;
	bottom: 0px;
}

.leftAlignBar {
	padding: 16px 0px 0px 15%;
	font-size: 12px;
	color: #68663F;
	float: left;
}

.rightAlignBar {
	padding: 16px 15% 0px 0px;
	font-size: 12px;
	color: #68663F;
	float: right;
}

a.banneremail, a.banneremail:visited {
	text-decoration: none;
	color: #68663F;
}

a.banneremail:hover, a.banneremail:active {
	text-decoration: none;
	color: #E2DFB6;
}


/*CONTENT ROWS
=====================================================================*/

.firstrow {
	width: 1100px;
	margin: 0 auto;
}

#playerprofile {
	margin: 0 auto;
}

#navbar {
	margin: 0 auto;
}

a.contactLink, a.contactLink:visited {
	text-decoration: none;
	color: #68663F;
}

a.contactLink:hover, a.contactLink:active {
	text-decoration: none;
	color: #000;
}


/*NAV BUTTONS
=====================================================================*/

/* Target all childern of #navbar whose id ends with "Btn" */
#navbar [id$="Btn"] {
	background-image: url('../images/buttons/Buttons_Sprite.png');
	width: 256px;
	height: 60px;
}

#homeBtn {
	background-position: 0 0;
	height: 64px;
}

#homeBtn:hover {
	background-position: -256px 0;
}

#aboutMeBtn {
	background-position: 0 -64px;
}

#aboutMeBtn:hover {
	background-position: -256px -64px;
}

#portfolioBtn {
	background-position: 0 -124px;
}

#portfolioBtn:hover {
	background-position: -256px -124px;
}

#blogBtn {
	background-position: 0 -184px;
	height: 56px;
	margin-top: 4px;
}

#blogBtn:hover {
	background-position: -256px -184px;
}

#contactBtn {
	background-position: 0 -240px;
}

#contactBtn:hover {
	background-position: -256px -240px;
}


/*MAIN BORDERS
=====================================================================*/

.border {
	width: 930px;
    border: 3px solid transparent;
    border-image-source: url('../images/frame/Frame_Box.png');
    border-image-slice: 60;
    border-image-width: 20;
    border-image-outset: 1;
    margin: 0 auto;
}

.bodytext {
	width: 820px;
	padding: 20px 10px 20px 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	color: #000;
	font-size: 15px;
	line-height: 200%;
    background-color: #E2DFB6;
}


/*BORDER TITLES
=====================================================================*/

.borderHeaderBox {
	width: 50%;
	float: left;
	margin-left: 100px;
	margin-top: -6px;
}

.borderheader {
	float: left;
	position: relative;
	display: inline;
	height: 56px;
}

.bordercenter {
	float: left;
	background-image: url('../images/frame/Frame_Title_Center.png');
	height: 56px;
	display: inline;
	padding-top: 13px;
	font-size: 24px;
	color: #E2DFB6;
}


/*EACH BORDER TEXT BLOCK SPECIFICS
<without TEXT is the border height, with TEXT is the height of the textbox>
=====================================================================*/

#welcome {
	margin-top: 15px;
	height: 280px;
}

#welcomeText {
	height: 190px;
}

#aboutMe {
	margin-top: 15px;
	height: 1430px;
}

#aboutMeText {
	height: 1330px;
}

#portfolio {
	margin-top: 15px;
	height: 800px;
}

#portfolioText {
	height: 700px;
}

#contact {
	margin-top: 15px;
	height: 250px;

}

#contactText {
	height: 160px;
}

/*OTHER
=====================================================================*/

.portfolio {
	display: inline-block;
}

.portPic {
	width: 350px;

}

.caption {
	visibility: hidden;
	background: #68663F;
	color: #fff;
	opacity: 0.9;
	position:absolute;
	width: 350px;
	height: 221.5189873418px;
	font-size: 12px;
}